*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins','sans-serif';
}
:root{
    --color1: #e0042c;
    --color2: #222222;
    --color3: #382424;
    --color4: #c4dce5;
    --color5: #0c2b43;
    --color6: #113454;
    --background: #1F2336;
    --accent: #F4BD50;
} 